<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %} RedEye</title>
    {% endblock %}
</head>
<body>
    <div id = "header">RedEye - VisionAI Camera Interface Application</div>
    <div id="content">{% block content %}{% endblock %}</div> <!--THE CONTECT OF CHILD TEMPLATES WILL LIVE HERE-->
    <div id="footer">
        {% block footer %}
        2024 by<a href="https://github.com/PeterDCodes">@PeterDCodes</a>.
        {% endblock %}
    </div>
</body>
</html>