<!--main page to create or select project-->


<!--Can change this if additional header chnages are needed-->
{% extends "base.html" %}
{% block title %}Index{% endblock %}

<!--EDIT HERE-->
{% block content %}
    <h1 style="text-align: center;">Homepage</h1>
    <div style="text-align: center;">
        <button type="button">Create New</button>
    </div>

    <br><br>

    <div class="centered-container">
        <div class="dropdown">
            <button class="dropbtn" style="display: inline-block; margin: 0 auto;">Select Template</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>    
    </div>


{% endblock %}